<p id="notice"><%= notice %></p>

<dashboard>
  <div class="row">
    <div class="col-sm-2">
      <left-menu>
        <ul class="categories list-group">
          <% if user_signed_in? %>
              <li class="list-group-item">
                <a href="/tickets">Tickets</a>
              </li>
          <% end %>
          <li class="list-group-item">
            <a href="/events">Events</a>
          </li>
        </ul>
      </left-menu>
    </div>
    <div class="col-sm-10">
      <list-of-products>
        <div class="panel panel-default">
          <div class="panel-heading">Events</div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Artist</th>
                <th>Seats (taken / all)</th>
                <th>Price low</th>
                <th>Price high</th>
                <th>Date</th>
                <th>Minimal age</th>
              </tr>
              </thead>

              <tbody>

              <% for event in @events %>
                  <tr>
                    <% if user_signed_in? %>
                        <% if Time.now.year - current_user.birthDate.year <= event.minAge %>
                            <td style="color: red"><%= event.artist %></td>
                        <% elsif event.event_date.mjd - DateTime.now.mjd <=30 && event.event_date.mjd - DateTime.now.mjd >= 0 %>
                            <td><%= link_to event.artist, "/events/#{event.id}" %></td>
                        <% else %>
                            <td style="color: blue"><%= event.artist %></td>
                        <% end %>

                    <% else %>
                        <td><%= event.artist %></td>
                    <% end %>
                    <td>
                      <%= Ticket.where(event_id: event.id).inject(0) {|counter, item| counter += (item.numberOfTickets)} %>
                      / <%= event.seats %></td>


                    <% if event.event_date.mjd - DateTime.now.mjd == 0 %>
                        <td><%= event.price_low * 1.2%></td>
                        <td><%= event.price_high * 1.2%></td>
                    <% else %>
                        <td><%= event.price_low %></td>
                        <td><%= event.price_high %></td>
                    <% end %>


                    <td><%= event.event_date %></td>
                    <td><%= event.minAge %></td>
                  </tr>
              <% end %>

              </tbody>
            </table>
          </div>
        </div>
        <%= link_to 'New Event', new_event_path %>
      </list-of-products>
    </div>
  </div>
</dashboard>
<!--<table>-->
<!--<thead>-->
<!--<tr>-->
<!--<th>artist</th>-->
<!--<th colspan="3"></th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody>-->
<!--
<% @events.each do |event| %>-->
    <!--<tr>-->
    <!--<td><%= event.artist %></td>-->
    <!--<td><%= link_to 'Show', event %></td>-->
    <!--<td><%= link_to 'Edit', edit_event_path(event) %></td>-->
    <!--<td><%= link_to 'Destroy', event, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
    <!--</tr>-->
    <!--
<% end %>-->
<!--</tbody>-->
<!--</table>-->

<br>


