<p id="notice"><%= notice %></p>

<p>
  <strong>artist:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>price_low:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>price_high:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>event_date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <%= render "new_ticket", ticket: Ticket.new( :event_id=>@event.id) %>
  <%= render "tickets_list", tickets: Ticket.where(event_id: @event.id) %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


