<!DOCTYPE html>
<html>
<head>
  <title>Bilety1</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar bg-dark text-light">
  <top-nav>
    <div class="row" id="top_bar">
      <div class="col-sm-4">
        Sport shop

        <% if user_signed_in? %>
            <div class="dropdown">
              <button class="btn btn-default btn-sm  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></a></li>
                <li><a href="/users/edit">Edit profile</a></li>
              </ul>
            </div>
        <% else %>

            <div class="dropdown">
              <button class="btn btn-default btn-sm  dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="/users/sign_in">Sign in</a></li>
                <li><a href="/users/sign_up">Registration</a></li>
              </ul>
            </div>
        <% end %>
      </div>

      <div class="col-sm-8" id="cart-details">
        <% if user_signed_in? %>
          Cart: <%= current_user.money %>
        <% end %>
        <button class="btn btn-primary btn-sm" id="go-to-cart" (click)="changeView('cart')">Cart</button>

      </div>
    </div>
  </top-nav>
</nav>

<% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
